


.body
    clearfix()
    display block
    height 100%
    left 0px
    overflow auto
    position fixed
    top 0px
    width 100%


.wrapper
    clearfix()
    display block
    width $max-width
    margin 0 auto



    @media all and ( max-width: $max-width )
        margin 0
        width 100%
