


.content
    background-image url( $path-images + '/bgs/parking.jpg' )
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    clearfix()
    display block
    height 100%
    width 100%



    .content-container
        background-color $color-black-background
        display block
        height 100%
        left 0px
        position relative
        top 0px
        width 100%



    .head
        clearfix()
        display block
        padding-top 35px



        .head-logotype
            display inline-block
            float left



            .logo-beg
            .logo-end
                color $color-white
                display inline-block
                float left
                font-size 17px
                font-variant small-caps
                text-transform uppercase



            .logo-beg
                background-color $color-red-base
                font-weight 100
                padding 12px 16px 12px 14px



            .logo-end
                background-color $color-black-background
                font-weight bold
                padding 12px 14px 12px 14px



        .head-menu
            display inline-block
            float right
            margin-top 9px



            .menu-item
                color $color-white
                display inline-block
                float left
                font-size 12px
                font-variant small-caps
                font-weight 400
                padding 8px 30px 10px 19px
                text-decoration none
                text-shadow 0px 0px 5px $color-black
                text-transform uppercase
                transition color 0.2s



                &:hover, &.active
                    color $color-red-base
                    text-decoration none
                    transition color 0.2s



                &.menu-item-marked
                    background-color $color-red-base
                    border-radius 40px
                    box-shadow 0px 0px 15px $color-black
                    padding 9px 37px
                    text-shadow none



                    &:hover
                        color $color-white



                .glyphicon, .fa
                    margin-left 10px



            .menu-list
                background-color transparent



                .dropdown-menu
                    background-color $color-black-background
                    color $color-white
                    font-size 12px
                    font-variant small-caps
                    font-weight 400
                    left -136px
                    min-width 240px
                    text-transform uppercase
                    top 30px



                    li a
                        color $color-white
                        padding 10px 15px
                        transition all 0.2s



                        &:hover, &:focus
                            background-color $color-black-background
                            color $color-red-base
                            transition all 0.2s



                        .glyphicon, .fa
                            font-size 14px



    .banner
        clearfix()
        display block
        padding 150px 0px 100px 0px
        text-align center
        text-shadow 0px 0px 5px $color-black



        h1
            color $color-white
            font-size 54px
            font-weight 100



        h2
            color $color-gray-upper-middle
            font-size 22px
            font-weight normal
