



.products
    clearfix()
    color $color-gray-upper-middle
    display block
    text-align center



    .join-button
        background-color $color-black-background
        border-radius 100px
        box-shadow 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent
        clearfix()
        color $color-white
        display inline-block
        font-size 24px
        font-variant small-caps
        font-weight 100
        margin 0px 0px 80px 0px
        padding 15px 80px
        text-transform uppercase
        transition all 0.6s



        &:hover
            box-shadow 0px 0px 0px 5px $color-red-base, 0px 0px 30px 5px $color-black
            color $color-red-base
            text-decoration none
            transition all 0.6s



        &:focus
            text-decoration none
