
html, *
    border 0px
    margin 0px
    padding 0px



    &:hover, &:active, &:focus
        outline none !important



body
    font-family $font-general
    font-size 13px



a
    color $color-white
