doctype
html(ng-app = "webapp.public", ng-controller = "webapp.public.ctrl.main")
    head
        meta( charset = "utf-8" )
        title ImprovingWork: Mejorando nuestro trabajo
        meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )

        //- cdn libraries
        link( rel = "stylesheet", href = "https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i" )
        link( rel = "stylesheet", href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" )
        link( rel = "stylesheet", href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" )

        //- local libraries
        link( rel = "stylesheet", href = "/styles/public/stylesheet.css" )


    body.body



        //- beg: content
        div.content: div.content-container

            //- head
            div.head( ng-controller = "webapp.public.ctrl.header" ): div.wrapper



                div.head-logotype
                    span.logo-beg IMPROVING
                    span.logo-end WORK



                div.head-menu

                    div.menu-list.dropdown( ng-class = "{ 'open': menu.show }" )
                        ul.dropdown-menu
                            li: a(href = "/signin", ng-click = "CloseMenu()") #[i.fa.fa-car] &nbsp; Parking lots
                            li: a(href = "/signin", ng-click = "CloseMenu()") #[i.fa.fa-plane] &nbsp; holidays
                            li: a(href = "/signin", ng-click = "CloseMenu()") #[i.glyphicon.glyphicon-calendar] &nbsp; room reservation
                            li: a(href = "/signin", ng-click = "CloseMenu()") #[i.glyphicon.glyphicon-user] &nbsp; curriculum vitae
                    a.menu-item(
                        href = "javascript: void(0);",
                        ng-click = "menu.show = ! menu.show",
                        ng-class = "{ 'active': menu.show }"
                    )
                        | projects
                        i.glyphicon( ng-class = "{ 'glyphicon-menu-down': ! menu.show, 'glyphicon-menu-up': menu.show }" )

                    a.menu-item( href = "/signin" ) sign in
                    a.menu-item.menu-item-marked( href = "/signup" ) sign up


            //- banner
            div.banner: div.wrapper
                h1 Welcome to ImprovingWork
                h2 A place where managing your resources becomes easier
            //- end: head



            //- beg: products
            div.products: div.wrapper

                div
                    a.join-button( href = "javascript: void(0);" ) JOIN US

                | With our control panel you will be able to manage all the resources
                | of your company like the parking lots, the vacations of each one of
                | your employees, the reservation of meeting rooms and the curricula
                | of both your employees and the candidates for hiring.
            //- end: products



        //- beg: scripts

        //- cnd's
        script( src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", charset = "utf-8" )
        script( src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js", charset = "utf-8" )

        //- local scripts
        script( src = "/scripts/public/webapp/webapp.public.app.js", charset = "utf-8" )
        script( src = "/scripts/public/controllers/webapp.public.ctrl.main.js", charset = "utf-8" )
        script( src = "/scripts/public/controllers/webapp.public.ctrl.header.js", charset = "utf-8" )
        //- end: scripts
